.button {
  @include reset-button;
  padding: 11px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 14px;
  color: $white;
  transition:
    background-color 0.3s ease,
    box-shadow 0.3s ease,
    transform 0.3s ease;

  &--primary {
    background-color: $primary-button;
    box-shadow: inset 0 -3px 0 0 rgb(34, 41, 47, 0.2);

    &:hover:not(:disabled) {
      background-color: $primary-button-hover;
    }

    &:active {
      background-color: $primary-button-active;
      box-shadow: none;
      transform: translateY(3px);
    }
  }

  &--danger {
    background-color: $danger-button;
    box-shadow: inset 0 -3px 0 0 rgb(34, 41, 47, 0.2);

    &:hover:not(:disabled) {
      background-color: $danger-button-hover;
    }

    &:active {
      background-color: $danger-button-active;
      box-shadow: none;
      transform: translateY(3px);
    }
  }
}