$main-font: "Montserrat", "Helvetica", sans-serif;
$main-bg: #f8f8f8;
$dark-text: #6e6b7b;
$light-text: #b9b9c3;
$primary-text: #5e50ee;

$primary-button: #7367f0;
$primary-button-hover: #887ef2;
$primary-button-active: #5e50ee;
$danger-button: #ea5455;
$danger-button-hover: #ed6b6c;
$danger-button-active: #e73d3e;

$white: #ffffff;